/* mainImg */
.mainImg-enter {
  opacity: 0;
  transform: translateY(-5%);
}
.mainImg-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 2s, transform 1s;
}

/* mainTitle */
.mainTitle-enter {
  opacity: 0;
  transform: translateX(-10%);
}
.mainTitle-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 2s, transform 1s;
  transition-delay: 500ms;
}

/* mainEx */
.mainEx-enter {
  opacity: 0;
  transform: translateX(10%);
}
.mainEx-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 2s, transform 1s;
  transition-delay: 1000ms;
}
